html, body {
  margin:0px;
  padding: 0px;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


/* ===============
       Navbar
   =============== */

.navbar {
  top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  background: #fff;
  z-index: 10;
}

.buttons {
  width: 100vw
}

nav {
  right: 0;
  position: relative;
  margin: 0;
  padding: 0;
}

li {
  list-style-type:none;
  margin: 2vh 2vw;
}

a {
  text-decoration: none;
}

ul{
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.home {
  position: relative;
  margin: 0;
  padding: 0;
}

.logo {
  width: 200px;
}

.logo:hover {
  transition: all 0.25s ease-out;
  opacity: 0.5;
}

/* Buttons */
button {
  height: 39px;
  width: 127px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 12px;
  border: transparent solid;
  border-radius: 10px;
  outline: 0;
  overflow: hidden;
  cursor: pointer;
  transition: all 250ms ease-out;
  background: linear-gradient(90deg, #fff 50%, #AC1C24 50%);
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #AC1C24 50%, transparent 50%);
  z-index: -1;
}

button,
button::after {
  background-size: 300%;
  background-position: 100%;
  transition: all 0.5s ease-out;
}

button:hover,
button:hover::after {
  background-position: 0;
}

#mask {
  background: #AC1C24;
  -webkit-text-fill-color: #fff;
}

.navbar2 {
  display: none;
}

/* ===============
        Body
   =============== */

.resources {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  animation: fadeIn 1s ease 1 forwards;
}

h1 {
  position: relative;
  top: 15vh;
  margin: auto;
  text-align: center;
  font-weight: normal;
  font-size: 48px;
 }

 .header {
   position: relative;
   top: 20vh;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
   margin-left: 15vw;
   margin-right: 15vw;
 }

.firstHeader {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.5;
  width: 30vw;
}

.mask {
  height: 50vh;
}

/* Form */
.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type=text] {
  position: relative;
  padding: 12px 20px;
  margin: 8px 0;
  margin-right: 1px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  transition: 250ms;
  height: 40px;
  width: 300px;
}

input[type=text]:focus {
  outline: none;
  border: 3px solid #AC1C24;
  cursor: text;
  transition: 250ms;
}

input[type=button], input[type=submit], input[type=reset] {
  position: relative;
  color: white;
  font-size: 20px;
  padding: 8px 20px;
  text-decoration: none;
  margin: 8px 0;
  margin-left: 1px;
  cursor: pointer;
  background: #AC1C24;
  box-sizing: border-box;
  border-radius: 10px;
  height: 40px;
  border: 1px solid #8f161d;
  transition: all 250ms linear;
}

input[type=submit]:hover {
  cursor: pointer;
  border: 2px solid;
  background: #8f161d;
  border: 1px solid rgba(#000, .05);
  color: white;
  text-decoration: none;
  text-shadow: -1px -1px 0 #8f161d;
  transition: all 250ms ease-out;
  overflow: hidden;
}

.enter {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Error Message */
input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus:invalid {
  outline: none;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 12px;
  font-style: italic;
  box-sizing: border-box;
  position: absolute;
  top: 54px;
}

.error.active {
  transition: all 250ms ease-out;
}

.parsley-required {
  display:none;
}

/* Display Results */
.display {
  position: relative;
  top: 15vh;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 15vh;
}

th {
  margin-top: 10px;
  text-align: left;
  font-weight: normal;
  font-size: 28px;
  padding-right: 30px;
  background: #DCDCDC;
}

th:hover {
  cursor: pointer;
}

td {
  padding-right: 30px;
  padding-top: 5px;
  animation: fadeUp 1s ease 1 forwards;
}

td a {
  text-decoration-line: underline;
  color: #2695A1;
  transition: all .250s ease-out;
}

td a:hover {
  opacity: 0.5;
}

/* ===============
       Footer
   =============== */

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  max-width: 100vw;
  background-color: #AC1C24;
  color: white;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: fadeIn 1.5s ease 1 forwards;
}

.edc {
  text-decoration: underline;
  color: #fff;
  transition: all .250s ease-out;
}

.edc:hover {
  opacity: 0.5;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* ===============
    Responsiveness
   =============== */

@media only screen and (max-width: 841px) {
  /* NavBar */
  .navbar {
    display: none;
  }

  .navbar2 {
    overflow: hidden;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar2 .buttons2 {
    display: none;
    animation: fadeDown 0.5s ease 1 forwards;
  }

  .buttons2 li {
    margin: 0;
    padding: 0;
  }

  .buttons2 button {
    border-radius: 0px;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    color: #560e12;
  }

  ul {
    display: block;
    text-align: center;
  }

  @keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .navbar2 a.hamburger {
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    color: #AC1C24;
    display: block;
    right: 0;
    top: 0;
  }

  .navbar2 a.hamburger:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  h1 {
    top: 25px;
    font-size: 40px;
    padding: 5px;
  }

  .header {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
  }

  .mask {
    height: 30vh;
  }

  .firstHeader {
    font-size: 24px;
  }

  .firstHeader, p {
    text-align: center;
    width: 100vw;
    margin-top: 0;
  }

  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #zip {
    width: 60vw;
    margin-right: 10px;
  }

  .display {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Footer */
  footer {
    font-size: 12px;
  }
}
