html, body {
  margin:0px;
  padding: 0px;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


/* ===============
       Navbar
   =============== */

.navbar {
  top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  background: #fff;
  z-index: 10;
}

.buttons {
  width: 100vw
}

nav {
  right: 0;
  position: relative;
  margin: 0;
  padding: 0;
}

li {
  list-style-type:none;
  margin: 2vh 2vw;
}

a {
  text-decoration: none;
}

ul{
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.home {
  position: relative;
  margin: 0;
  padding: 0;
}

.logo {
  width: 200px;
}

.logo:hover {
  transition: all 0.25s ease-out;
  opacity: 0.5;
}

/* Buttons */
button {
  height: 39px;
  width: 127px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 12px;
  border: transparent solid;
  border-radius: 10px;
  outline: 0;
  overflow: hidden;
  cursor: pointer;
  transition: all 250ms ease-out;
  background: linear-gradient(90deg, #fff 50%, #AC1C24 50%);
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #AC1C24 50%, transparent 50%);
  z-index: -1;
}

button,
button::after {
  background-size: 300%;
  background-position: 100%;
  transition: all 0.5s ease-out;
}

button:hover,
button:hover::after {
  background-position: 0;
}

#volunteer {
  background: #AC1C24;
  -webkit-text-fill-color: #fff;
}

.navbar2 {
  display: none;
}

/* ===============
        Body
   =============== */

.resources {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100%
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  animation: fadeIn 1s ease 1 forwards;
}

h1 {
  position: relative;
  top: 15vh;
  margin: auto;
  text-align: center;
  font-weight: normal;
  font-size: 48px;
 }

 .header {
   position: relative;
   top: 20vh;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-left: 15vw;
   margin-right: 15vw;
 }

.firstHeader {
  color: #414042;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.5;
  width: 30vw;
}

.volunteer {
  width: 20vw;
}

.secondHeader {
  color: #414042;
  position: relative;
  top: 30vh;
  margin: auto;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

/* Lightbox */
.downloadables {
  position: relative;
  top: 25vh;
}

.downloadables img {
  width: 25vw;
  height: auto;
  border: 1px solid #CDCDCD;
}

.downloadable {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  align-items: center;
}

.image {
  transition: all 250ms ease-out;
}

.image:hover{
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.7;
}

#lightboxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeOut .5s;
  }

@keyframes fadeOut {
  from {
    background: #fff;
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}

.lightbox {
  position: fixed;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}

.hidden {
  display: none;
}

.lightbox img {
  width: 100%;
  position: fixed;
}

/* Button */
.downloadButton {
  width: 12vw;
  height: 6vh;
  background: #AC1C24;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8f161d;
  transition: all 250ms linear;
}

.downloadButton a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.downloadButton:hover {
  cursor: pointer;
  border: 2px solid;
  background: #8f161d;
  border: 1px solid rgba(#000, .05);
  color: #af3c3d;
  text-decoration: none;
  text-shadow: -1px -1px 0 #8f161d;
  transition: all 250ms ease-out;
  overflow: hidden;
}

#external {
  position: relative;
  margin: auto;
  top: 35vh;
  margin-bottom: 15vh;
}

/* ===============
       Footer
   =============== */

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin:0;
  max-width: 100vw;
  background-color: #AC1C24;
  color: white;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: fadeIn 1.5s ease 1 forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.edc {
  text-decoration: underline;
  color: #fff;
  transition: all .250s ease-out;
}

.edc:hover {
  opacity: 0.5;
}

/* ===============
    Responsiveness
   =============== */

@media only screen and (max-width: 841px) {
  /* NavBar */
  .navbar {
    display: none;
  }

  .navbar2 {
    overflow: hidden;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar2 .buttons2 {
    display: none;
    animation: fadeDown 0.5s ease 1 forwards;
  }

  .buttons2 li {
    margin: 0;
    padding: 0;
  }

  .buttons2 button {
    border-radius: 0px;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
  }

  ul {
    display: block;
    text-align: center;
  }

  @keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .navbar2 a.hamburger {
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    color: #AC1C24;
    display: block;
    right: 0;
    top: 0;
  }

  .navbar2 a.hamburger:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  h1 {
    top: 25px;
    font-size: 40px;
    padding: 5px;
  }

  .header {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    top: 20px;
  }

  .volunteer {
    height: 25vh;
    width: auto;
    padding: 10px;
  }

  .firstHeader {
    font-size: 24px;
    text-align: center;
    width: 80vw;
    margin-top: 25px;
  }

  .downloadables, .downloadable {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .downloadables {
    position: relative;
    top: 25px;
  }

  .downloadables img {
    width: 100vw;
    height: auto;
    border: 0px;
  }

  .downloadable {
    margin: 0;
    align-items: center;
    border-top: 1px solid #CDCDCD;
    margin-top: 25px;
  }

  .downloadButton {
    width: 100px;
    height: 30px;
    background: #AC1C24;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8f161d;
    transition: all 250ms linear;
  }

  .downloadButton a {
    font-size: 12px;
    color: white;
    text-decoration: none;
  }

  .secondHeader {
    font-size: 24px;
    text-align: center;
    width: 80vw;
    border-top: 1px solid #CDCDCD;
    color: #414042;
    position: relative;
    margin-top: 0;
    top: 10vh;
    padding-top: 25px;
    margin: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
  }

  #external {
    top: 20vh;
  }

  /* Footer */
  footer {
    font-size: 12px;
  }
}
